.text-card {
  background: white;
  box-shadow: 0px 0px 3px RGBA(0, 0, 0, 0.2);

  border-radius: 4px;
  padding: 1em;

  position: relative;
  top: 50%;
  transform: translateY(-50%);

  z-index: 100000;
}

.right-card {
  transform: translateX(-25px);
}
.left-card {
  transform: translateX(25px);
}

/* Responsive Flexbox considerations */
@media (max-width: 576px) {
  .left-card,
  .right-card {
    transform: translateX(0px);
  }
}

.vertical-center {
  align-items: center;
}
